@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: rgb(240, 239, 233);
  --white: #fff;
  --green: #50e4a5;
  --dark-green: #4ac28b;
  --main-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --radious-min: 5px;
}

.todo-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.todo-main {
  background-color: var(--white);
  box-shadow: var(--main-shadow);
  min-height: 800px;
  width: 450px;
  padding: 1rem 2rem;
}

.todo-add-btn {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  background-color: var(--green);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--dark-green);
}

.todo-add-input {
  border: 1px solid #000;
  width: 80%;
  height: 40px;
  border-radius: var(--radious-min);
}

.todo-add-button {
  height: 40px;
  border-radius: var(--radious-min);
  font-size: 20px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: var(--green);
}

.todo-add-button:hover {
  background-color: var(--dark-green);
}
