@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: rgb(227, 233, 255);
  --white: #fff;
  --purple: rgb(175, 126, 233);
  --dark-green: #4ac28b;
  --main-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --radious-min: 5px;
  --radious-large: 20px;
  --gray: rgb(172, 182, 192);
}

body {
  font-family: "Roboto", sans-serif;
}

.todo-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.todo-header {
  background-color: var(--purple);
  box-shadow: var(--main-shadow);
  width: 450px;
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
}

.todo-main {
  background-color: var(--white);
  box-shadow: var(--main-shadow);
  min-height: 300px;
  width: 450px;
  padding: 3rem 4rem;
}

.todo-add-btn {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  background-color: var(--purple);
  width: 150px;
  border-radius: var(--radious-large);
  box-shadow: var(--main-shadow);
  padding: 10px;
  color: var(--white);
  font-weight: 500;
}

.todo-add-input,
.todo-add-input:focus,
.todo-add-input:active {
  border: 1px solid var(--purple);
}

.todo-add-input {
  width: 80%;
  height: 40px;
  border-radius: var(--radious-min);
  padding: 0 10px;
}

.todo-add-button {
  height: 40px;
  border-radius: var(--radious-min);
  color: var(--white);
  font-size: 20px;
  background-color: var(--purple);
}

.todo-done {
  color: var(--purple) !important;
  fill: var(--purple) !important;
}

.todo-item {
  text-transform: capitalize;
  font-size: 18px;
}

.todo-name {
  text-decoration: line-through;
}

.text-gray {
  color: var(--gray);
}
